# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are created by a PyInstaller executable packer
#  and should be ignored by version control systems
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*_CLASS_NAME
.cache
osetests.xml
coverage.xml

# Translations
*.mo
*.pot
*.log

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDEs / Editors
.idea/
.vscode/
*.swp
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.project
.pydevproject
.sublime-workspace

# Org-mode
.org-id-locations
*_archive

# Trial temp
_trial_temp

# OSX / Windows
.DS_Store
Thumbs.db

# vim-backup
*.bak

# My files
talon.config
