pytest<8; python_version < "3.8"
pytest; python_version >= "3.8"
pytest-cov<5; python_version < "3.8"
pytest-cov; python_version >= "3.8"
coverage<7.4; python_version < "3.8"
mypy; python_version >= "3.10"
types-lxml; python_version >= "3.10"
types-regex; python_version >= "3.10"
types-six; python_version >= "3.10"
